<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: header"></th:block>
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>

<div class="container mt-2">
    <button class="btn btn-secondary" onclick="history.back()">돌아가기</button>
    <!-- 글 작성자만 수정 및 삭제 가능 -->
    <th:block th:if="${board.user.id == principal.user.id}">
        <a th:href="@{|/board/${board.id}/updateForm|}" class="btn btn-warning">수정</a>
        <button class="btn btn-danger" id="btn-board-delete">삭제</button>
    </th:block>

    <br/> <br/>
    <div>
        글 번호 : <span id="Id"><i th:text="${board.id}"></i></span>
        작성자 : <span><i th:text="${board.user.username}"></i></span>
    </div>
    <br />
    <div>
        <h3 th:text="${board.title}"></h3>
    </div>
    <hr />
    <div>
        <div th:utext="${board.content}"></div>
    </div>
    <hr />

    <!-- 댓글 작성 -->
    <div class="card">
        <form>
            <input type="hidden" id="userId" th:value="${principal.user.id}">
            <input type="hidden" id="boardId" th:value="${board.id}">
            <div class="card-body">
                <textarea id="reply-content" class="form-control" rows="1"></textarea>
            </div>
            <div class="card-footer">
                <button type="button" id="btn-reply-save" class="btn btn-primary">등록</button>
            </div>
        </form>
    </div>
    <br />
    <!-- 댓글 리스트 -->
    <div class="card mb-2">
        <div class="card-header">댓글 리스트</div>
        <ul id="reply-box" class="list-group">
            <li th:each="reply: ${board.replies}" id="replyId" th:value="${reply.id}" class="list-group-item d-flex justify-content-between">
                <div th:text="${reply.content}"></div>
                <div class="d-flex">
                    <div class="font-italic">작성자 : [[${reply.user.username}]] &nbsp;</div>
                    <button th:if="${board.user.id == principal.user.id}" id="btn-reply-delete" class="badge">삭제</button>
<!--                    <button th:if="${board.user.id == principal.user.id}"-->
<!--                            th:onclick="index.replyDelete([[${board.id}]], [[${reply.id}]])" class="badge">삭제</button>-->
                </div>
            </li>
        </ul>
    </div>

</div>

<div th:replace="fragments/footer :: footer"/>
<script src="/js/board.js"></script>
<script src="/js/reply.js"></script>
</body>
</html>