<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>

<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"></div>
<div class="container">

    <th:block th:if="${#lists.isEmpty(boards.content)}">
        <table class="table table-bordered border-primary mt-4">
            <tr>
                <td>자료 없음</td>
            </tr>
        </table>
    </th:block>
    <th:block th:each="board : ${boards.content}">
        <div class="card m-2">
            <div class="card-body">
                <h4 class="card-title" th:text="${board.title}"></h4>
                <a th:href="@{/board/{id}(id=${board.id})}" class="btn btn-primary">상세보기</a>
            </div>
        </div>
    </th:block>

    <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${boards.first ? 'disabled' : 'active'}">
            <a class="page-link"
               th:href="@{?page={page}(page=${boards.number-1})}">Previous</a>
        </li>
        <li class="page-item" th:classappend="${boards.last ? 'disabled' : 'active'}">
            <a class="page-link"
               th:href="@{?page={page}(page=${boards.number+1})}">Next</a>
        </li>
    </ul>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>